<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/common.css') }}">
	<title> Pengu Stocks | Home </title>
</head>
<body>
	<!-- Nav bar stuff -->
	<div class="nav_bar">
		<div class="nav_beg">
			<div class="sidemenu">
				<div class="siderec"></div>
				<div class="siderec"></div>
				<div class="siderec"></div>
				<div class="dropdown">
					<a href="{{ url_for('index') }}"> - Home </a>
					<a href=""> - Overview </a>
					<a href="{{ url_for('about') }}"> - About </a>
					<a href=""> - Contact </a>
				</div>
			</div>
			<p> Pengu Stocks </p>
			<img src="{{ url_for('static', filename= 'images/cutout_pengu.png') }}">
		</div>
		<div class="nav_rest">
			<form>
				<input type="text" name="" placeholder="Search...">
			</form>
			<div class="access_btn">
				<a href=""> Log in </a>
			</div>
			<div class="access_btn">
				<a href=""> Sign Up </a>
			</div>
		</div>
	</div>


	<!-- The rest of the page -->
	<div class="content">
		<div class="welcome">
			<h1> Be the first to dive in with our</h1>
			<h1> no risk investing... </h1>
			<div class="clickme">
				<div class="access_btn">
					<a href="" style="color:white;"> Start Now </a>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="half">
			<h1> Quick and easy to learn!</h1>
			<p> We eliminate those confusing options by keeping
				things simple with only buy and sell options.
			</p>
		</div>
		<div class="half">
			<div class="data">
				
			</div>
		</div>
	</div>
	<div class="content">
		<div class="half">
			<div class="data">
				
			</div>
		</div>
		<div class="half">
			<h1> Orgnaized and Viewable! </h1>
			<p> Display graphs and other visuals to allow 
				for a more in-depth analysis.
			</p>
		</div>
	</div>
	<div class="content">
		<div class="welcome">
			<h1> Free Access! </h1>
			<p> No charges or fees!</p>
			<p> So Sign up NOW!</p>
			<div class="clickme">
				<div class="access_btn">
					<a href="" style="color:white;"> Sign up </a>
				</div>
			</div>
			<div class="welcome_img">
				<img src="{{ url_for('static', filename= 'images/cutout_pengu.png') }}">
			</div>
		</div>
	</div>
	<div class="content" id="stocks">
	</div>
	<div class="ending"></div>

	<!-- Ending JS files -->
	<script type="text/javascript" src="{{ url_for('static', filename= 'javascript/stock.js') }}"></script>

</body>
</html>